.ProfileCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(90, 89, 89);
    background-color: rgba(128, 128, 128, 0.118);
    width: 18rem;
    height: 50rem;
    border-radius: 20px;
}

.Profile-Pic {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 8rem;
}